pandas
numpy

torchserve
torchvision 
transformers

stanford_openie 
gensim
protobuf==3.20.0
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz

fastapi
uvicorn[standard]
python-multipart

neo4j